<h1 class="name"> Adriana Babakanian </h1>
<img class="me" src="pic.png">
<h1 class="year"> Sophomore </h1>
<h1 class="fun"> I love elephants. A lot. </h1>
<h1 class="learn"> Being able to combine functionality with what I learned in the web design
  decal so that I never make a site that looks like this. </h1>
